.spotContainer{
  margin: auto;
  background-color:rgba(255, 255, 255, 0.35);
  justify-content: center;
  border-radius: 32px;
}
h1{
  color: crimson;
  text-align: center;
}
ul {
  margin: 0 auto;
  text-align: center;
}
li {
  display: inline-block;
  vertical-align: top;
}
div.userButtons{
 align-items: center;
 justify-content: center;
}
button {
  border-radius: 20px;
  background-color: transparent;
  border-color: transparent;
  color: crimson;
}
button>i{
  font-size: 20px;
  padding: 10px;

}
