body{
  background: url('https://i.pinimg.com/originals/d3/2e/bf/d32ebfbfa4a536154fb8b1be88b8ab61.jpg') center no-repeat fixed;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.home-container{
  padding-top: 20px;
  margin: auto;
  background-color:rgba(255, 255, 255, 0.35);
  justify-content: center;
  border-radius: 32px;
  max-width: 1200px;
  align-items: center;
}
.welcome-heading{
  padding-top: 20px;
  font-family: 'Comfortaa', cursive;
  font-size: 5em;
  justify-content: center;
  text-align: center;
  text-shadow:  rgba(0, 0, 0, 0.65) 1px 1px;
}
p {
  color: black;
  align-items: center;
  text-align: center;
}
ul {
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}
li.spotImage {
  justify-content: center;
  align-items: center;
  display: inline-block;
  vertical-align: top;
}
.spotImage {
  height: 200px;
  width: 300px;
  border-radius: 32px;
}

.spotDiv {
  border-bottom:rgba(0, 0, 0, 0.35) 1.25px dotted;

}
