* {
  list-style-type: none;
  scroll-behavior: none;
}
a{
  color:white;
  padding: 10px;
}

a:hover{
  font-size: 120%;

}

.navContainer{
  min-width: 300px;
  max-width: 3200px;
  height: 50px;
  background-color: black;
  display: flex;
  text-align: center;

}

.navLeft{
  float: left;
}

.navRight{
  float: right;
}
