* {
  list-style-type: none;
  scroll-behavior: none;
  font-family: 'Comfortaa', cursive;
}
a{
  color:white;
  padding: 10px;
  text-decoration: none;;

}

a:hover{
  font-size: 120%;

}


ul.profile-dropdown{
  color:white;
  position: relative;
  display: inline-block;
  background-color: black;
  border-radius: 32px;
  align-items: center;
  text-align: center;
  z-index: 2;
}

li{
  align-items: center;
  text-align: center;
}

.navContainer{
  min-width: 300px;
  max-width: 3200px;
  height: 50px;
  background-color:rgba(0, 0, 0, 0.6);
  display: flexbox;
  text-align: center;
  align-items: center;
  padding: 0 5%;
  justify-content: center;
}

.navLeft{
 float:left;
 align-items: center;
}

.navRight{
  float: right;
}
